@{
    ViewBag.Title = "Washington Food Coalition";
}

@Styles.Render("http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css")

<style>
    h2 {
        margin-left: 15px;
        margin-right: 15px;
    }
</style>

<h2 id="nav-breadcrumbs">@ViewBag.Title</h2>
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Food Nearby</li>
</ul>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <!-- <th>Distance</th> -->
            <th>Items</th>
            <th>Notes</th>
            <th>Address</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (GiveFoodNow.Models.Pickup p in ViewBag.NearbyPickups)
        {
            <tr @(p.Status == GiveFoodNow.Models.StatusTypes.Scheduled ? "class=info" : "")>
                <!-- <td>@GiveFoodNow.Services.Distance.Meters(p.Latitude, p.Longitude, ViewBag.m.Latitude, ViewBag.m.Longitude)</td> -->
                <td>@p.Items</td>
                <td>@p.Notes</td>
                <td>@p.Address</td>
                <td>@p.City</td>
                <td>@switch (p.Status)
                    {
                        case GiveFoodNow.Models.StatusTypes.New:
                            <a class="btn btn-primary btn-sm" onclick="javascript:schedule(@p.Id)">Claim a pickup</a>
                            break;
                        case GiveFoodNow.Models.StatusTypes.Scheduled:
                            <a class="btn btn-primary btn-sm" onclick="javascript:complete(@p.Id)">Mark as complete</a>
                            break;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function schedule(pickupId) {
        var url = '/api/pickups/'+pickupId;
    	$.ajax({
    		url: url,
    		type: 'GET',
    		dataType: 'json',
    		success: function (data) {
    		    data['Status'] = 1;
    		    data['$id'] = pickupId;
    		    $.ajax({
    		        url: url,
    		        type: 'PUT',
    		        data: JSON.stringify(data),
                    dataType: 'json',
    		        contentType: 'application/json',
    		        success: function () {
    		            location.reload();
    		        }
    		    });
    		}
    	});
    }
    function complete(pickupId) {
    	var url = '/api/pickups/'+pickupId;
    	$.ajax({
    		url: url,
    		type: 'GET',
    		dataType: 'json',
    		success: function (data) {
    		    data['Status'] = 2;
    		    data['$id'] = pickupId;
    		    $.ajax({
    		        url: url,
    		        type: 'PUT',
    		        data: JSON.stringify(data),
                    dataType: 'json',
    		        contentType: 'application/json',
    		        success: function() {
    		            location.reload();
    		        }
    		    });
    		}
    	});
    }
</script>
